{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "react/prop-types": "off",
        "arrow-body-style": "warn",
        "react/jsx-props-no-spreading": "off"
      }
    }
  ],
  "ignorePatterns": ["setupTests.js"],
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "react/jsx-props-no-spreading": [
      "off"
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/prop-types": [
      "error"
    ],
    "no-return-assign": [
      "off"
    ],
    "no-console": [
      "warn"
    ],
    "import/prefer-default-export": [
      "off"
    ],
    "no-use-before-define": [
      "off"
    ],
    "react/button-has-type": [
      "warn"
    ],
    "import/no-named-as-default": [
      "off"
    ]
  }
}
